extends layout

include mixins/_reviewForm
include mixins/_review

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${attraction.photo || 'attraction.png'}`)
      h2.title.title--single
        a(href=`/attraction/${attraction.slug}`) #{attraction.name}

  .single__details.inner
    img.single__map(src=h.staticMap(attraction.location.coordinates))
    p.single__location= attraction.location.address
    p= attraction.description
    
    if attraction.tags
    ul.tags
      each tag in attraction.tags
        li.tag
          a.tag__link(href=`/tags/${tag}`)
            span.tag__text #{tag}
    
    if user
      +reviewForm(attraction)

    if attraction.reviews
      .reviews
        each r in attraction.reviews
          .review
            +review(r)
