mixin attractionForm(attraction = {})
    form(action=`/add/${attraction._id || ''}` method="POST" class="card")
        label(for="name") Name
        input(type="text" name="name" value=attraction.name)
        label(for="description") Description
        textarea(name="description")= attraction.description
        - const choices = ['Free admission', 'Museum', 'Nature', 'Stadium', 'Theme park']
        - const tags = attraction.tags || []
        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type="checkbox" id=choice value=choice name="tags"  checked=(tags.includes(choice)))
                    label(for=choice) #{choice}
        input(type="submit" value="Submit ➡" class="button")